body {
    font-family: Arial;
    
}

.sendButton {
    background-color : rgb(25, 135, 84);
    padding : 12px 18px;
    border : none;
    margin-left : 10px;
    margin-right: 10px;
    border-radius: 10px;
    font-size : 16px;
    color : white;
    cursor : pointer;
}

.inputBox {
    padding : 10px 12px;
    border-radius: 10px;
    border-width: 1px;
    font-size: 15px;
    flex: 1;
    height: 20px;
    margin-left: 10px;
}

.inputContainer {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    display: flex;
    align-items: flex-end;
    flex-grow: 1;

}

.chatContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    height: 100vh;
}

.chatMessageText {
    background-color: rgb(238, 238, 238);
    padding: 15px 10px;
    border-radius: 10px;
    max-width: 300px;
    margin-top: 5px;
    margin-bottom: 5px;
    overflow-wrap: break-word;
}

.userChatMessage {
    display: flex;
    justify-content: end;
}

.robotChatMessage {
    display: flex;
    justify-content: start;
}

.profileImage {
    width: 45px;
    height: 45px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.chats {
    overflow: scroll;
    scrollbar-width: none;
}